version: "3.4"
services:
  monero.dnp.dappnode.eth:
    build:
      context: .
      args:
        UPSTREAM_VERSION: v0.18.1.0
    image: "monero.dnp.dappnode.eth:0.2.3"
    ports:
      - "18089:18089"
      - "18081"
    volumes:
      - "data:/root/.bitmonero"
    environment:
      - P2P_PORT=18089
      - EXTRA_FLAGS=
volumes:
  data: {}
